name: build
on:
  push:
    branches: 
      - main
  workflow_dispatch:
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - name: Setup Node.js environment
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 20
      - run: npm run setup
      - run: npm run build:web
      - run: npm run build:electron
      - uses: actions/upload-artifact@v4
        with:
          # Name of the artifact to upload.
          # Optional. Default is 'artifact'
          name: bruno-${{matrix.os}}
          path: packages/bruno-electron/out
