name: sync
on:
  schedule:
    - cron: '0 4 * * *'
  workflow_dispatch:
jobs:
  sync:
    runs-on: ubuntu-slim
    steps:
      - name: Upstream Sync
        # You may pin to the exact commit or the version.
        # uses: aormsby/Fork-Sync-With-Upstream-action@1090e365224fc834e7e1de521c417ded2d6fcb53
        uses: aormsby/Fork-Sync-With-Upstream-action@v3.4.1
        with:
          target_sync_branch: main
          target_repo_token: ${{ secrets.GITHUB_TOKEN }}
          upstream_sync_repo: usebruno/bruno
          upstream_sync_branch: main
